// color
$black:#000000;
$darkGray_01: #2c2c2c;
$darkGray_02: #4a4a4a;
$lightGray_01: #9b9b9b;
$lightGray_02: #f8f8f8;
$white: #ffffff;


// font family
$mainFont: Ubuntu;

// font sizes
$h1: 60px;
$h2: 48px;
$h3: 36px;
$h4: 28px;
$h5: 24px;
$h6: 20px;
$h7: 18px;

$b1: 16px;
$b2: 14px;